/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NAVBAR */

.navbar-eazy {
    background-color: transparent;
    margin-bottom: 32px;
}

.navbar-eazy-logo {
    width: 114px;
}

/* CONTENT */

.content-label {
    color: white;
    margin-bottom: 5px;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.content-form {
    width: 100%;
    background-color: #1C2E4A;
    border-radius: 10px;
    padding: 16px;
}

.content-tiga-input-box {
    display: flex;
    justify-content: space-between;
}

.content-tiga-input {
    width: 32%;
}
/* TEST */

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.hero-column-left {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.hero-column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    /* 384px */
    width: 100%;
}

.hero-headline {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero-subheadline {
    font-size: 16px;
    color: grey;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-img {
        width: 384px;
    }

    .hero-column-right {
        width: 40%;
        justify-content: center;
        align-items: unset;
    }

    .hero-headline {
        font-size: 54px;
    }

    .hero-subheadline {
        font-size: 18px;
        color: grey;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .hero-img {
        width: 526px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
 }